.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  max-height: 50vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
.App-content {
  background-color: #282c34;
  max-height: max-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.Green {
  color: green
}

.Red {
  color: darkred
}

.InputButton {
  width: 1.5rem;
  height: 1.5rem;
  margin: 0.25rem;
  background-color: forestgreen;
  color: white;
  text-align: center;
  vertical-align:middle;
  border-radius: 5px;
  display: inline-block;
  font-size: 14px;
  line-height: 1.5rem;
}

.Input-History {
  max-height: 90%;
  overflow-x: hidden;
  padding: 1rem;
}